In [14]:
import pandas as pd

data = {
    "review": [
        "Great product! Contact me at john.doe@example.com for more details.",
        "My credit card number is 1234-5678-9101-1121. Please keep it safe.",
        "Wonderful service, will buy again! SSN: 987-65-4321.",
        "Loved it! For issues, email support@company.com.",
        "Quick delivery and excellent customer support.",
        "My email is jane.doe@work.net and I had a great experience.",
        "Call me at 555-123-4567 for any further questions.",
        "I lost my credit card, the number was 4321-8765-0987-6543.",
        "SSN: 123-45-6789 should not be shared openly.",
        "Best purchase ever! Reach me at user123@domain.org."
    ]
}

df = pd.DataFrame(data)
print(df)

                                              review
0  Great product! Contact me at john.doe@example....
1  My credit card number is 1234-5678-9101-1121. ...
2  Wonderful service, will buy again! SSN: 987-65...
3   Loved it! For issues, email support@company.com.
4     Quick delivery and excellent customer support.
5  My email is jane.doe@work.net and I had a grea...
6  Call me at 555-123-4567 for any further questi...
7  I lost my credit card, the number was 4321-876...
8      SSN: 123-45-6789 should not be shared openly.
9  Best purchase ever! Reach me at user123@domain...

In [15]:
df["review"] = df["review"].str.replace(r"\b\d{4}.\d{4}.\d{4}.\d{4}\b", "[REDACTED_CC]", regex = True)
df["review"] = df["review"].str.replace(r"\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b", "[REDACTED_EMAIL]", regex = True)

In [16]:
df

                                              review
0  Great product! Contact me at [REDACTED_EMAIL] ...
1  My credit card number is [REDACTED_CC]. Please...
2  Wonderful service, will buy again! SSN: 987-65...
3      Loved it! For issues, email [REDACTED_EMAIL].
4     Quick delivery and excellent customer support.
5  My email is [REDACTED_EMAIL] and I had a great...
6  Call me at 555-123-4567 for any further questi...
7  I lost my credit card, the number was [REDACTE...
8      SSN: 123-45-6789 should not be shared openly.
9  Best purchase ever! Reach me at [REDACTED_EMAIL].

In [17]:
df.to_csv("redacted_reviews.csv")